header img {
    width: 100%;
    height: 200px;
}

main {
    /* height: 1500px; */
    /* background-color: #e28181; */
}

.contact_wrap {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}

.contact_text_container {
    margin-top: 100px;
    padding: 50px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    background-color: #a6d0f3;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-top: 5px;
    margin-right: 10px;
    display: block;
}
.subtitle {
    /* background-color: #fff; */
    display: flex;
}

.contact_top_container {
    position: relative;
    /* background-color: #d43030; */
}
.search_result_text_container {
    position: absolute;
    /* text-align: center; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #27d617; */
}

.contact_writeBtn {
    padding: 20px 0;
    text-align: right;
    /* background-color: #d3f3d2; */
}

.contact_writeBtn button {
    cursor: pointer;
    font-weight: bold;
    background-color: #3a3a3a;
    color: white;
    width: 100px;
    height: 40px;
}

.contact_list_container {
    border-top: 2px solid gray;
    margin-top: 30px;
    width: 100%;
    /* height: 100%; */
    background-color: #d1ff2b1f;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

table th {
    border-bottom: 1px solid rgb(202, 202, 202);
    background-color: #fff;
    height: 80px;
    font-weight: bold;
}

table td {
    height: 50px;
    text-align: center;
    border-bottom: 1px solid rgb(202, 202, 202);
    /* background-color: #bbbcf7; */
}

table .no_td {
    width: 8%;
}
table td.title_td {
    padding-left: 30px;
    /* background-color: #fff; */
    text-align: left;
}
table .name_td {
    width: 10%;
}
table .date_td {
    width: 15%;
}

.paging_container{
    padding-bottom: 60px;
}

.search_container {
    text-align: center;
    /* background-color: #752222; */
    /* height: 400px; */
    padding-bottom: 100px;

}

.search_option {
    width: 100px;
    height: 40px;
}
.search_input {
    width: 300px;
    height: 40px;
}
.search_button {
    cursor: pointer;
    background-color: white;
    border: solid 1px grey;
    width: 70px;
    height: 40px;
}

.hidden{
    display: none;
}

@media (max-width: 1240px) {
    .contact_wrap {
        width: 95%;
    }
}

@media (max-width: 768px) {
    table td {
        font-size: 0.8rem;
    }
    table .no_td {
        width: 8%;
    }

    table .name_td {
        width: 15%;
    }
    table .date_td {
        width: 20%;
    }
    .contact_writeBtn button {
        width: 20%;
    }
    .search_option {
        width: 20%;
    }
    .search_input {
        width: 50%;
    }
    .search_button {
        width: 15%;
    }
}
