header img {
    width: 100%;
    height: 200px;
}

main {
    /* background-color: #e74747; */
    /* height: 1000px; */
}

.mypage_check_wrap {
    padding: 100px 0;
    text-align: center;
    width: 800px;
    height: 100%;
    margin: 0 auto;
    /* background-color: #4bc093; */
}
.titleBox > * {
    line-height: 1.3;
    padding-top: 30px;
}
.titleBox strong {
    color: rgb(29, 95, 139);
}
.pw_check_f {
    display: inline-block;
    background-color: #fff;
}

.pw_check_f > * {
    margin-top: 30px;
}

.pw_check_f input {
    display: block;
    width: 250px;
    height: 40px;
    border: solid 1px rgba(68, 68, 68, 0.308);
}

.pw_check_f button {
    cursor: pointer;
    color: white;
    background-color: rgb(53, 53, 53);
    width: 140px;
    height: 40px;
}

@media (max-width: 960px) {
    .mypage_check_wrap {
        width: 90%;
    }
}
